<%- title "About me" %>
<div class="row">
    <div class="col-md-1">
     
    </div>

    <div class="col-md-10 offset-md-1">
    	<p>
    		<h4>Howdy,</h4> my name's Jacob if you haven't already figured that out. My last name is Dutch and its techinically pronounced a-cough, but most folks just say eeeek-off. I identify as he/him, and currently work for a tech startup called <a href="https://dockwa.com">Dockwa</a> as a technical support analyst. I went to Salve Regina University for Economics and philosophy, but I've found a passion for coding and datascience since leaving. Absurdly curious with a proclivity for math and logic. I enjoy wading into problems and forming systems. If I'm not learning and thinking about projects for work, I'm probably doing the same thing in games, or finding new music, or walking the dog, or sleeping (least likely). Reach me on any of the icons on that fancy sidenav if you have questions or want to talk.
    	</p>
   		 <a href="https://karrraska.tumblr.com/" target="_blank"><img src="https://res.cloudinary.com/dqbibdsz3/image/upload/v1612816499/reddit/1537c5ec287fed4ec59a981ece60fc28b67a4849_amrwrp.jpg"></a>
	</div>
    
  
</div>
