
<p>
		You can check out more of my projects on <a href="https://github.com/jdeekhof", target="_new">Github.</a> To get in contact send me an email at <a href="mailto:jdeekhof@gmail.com", target="_new">jdeekhof@gmail.com</a>, add me on <a href="https://www.linkedin.com/in/jacobeekhof/", target="_new">LinkedIn</a>, or preferably message me on <a href="https://discord.com/users/571151209231155201", target="_new">Discord</a>.
</p>