

  <div class="row">

    <div class="col-md-4">
      <a href="https://karrraska.tumblr.com/", target="_new"><%= image_tag "https://res.cloudinary.com/dqbibdsz3/image/upload/c_crop,w_587/v1608413680/reddit/1537c5ec287fed4ec59a981ece60fc28b67a4849_amrwrp.jpg", class:"img-fluid rounded float-left" %></a>
    </div>

    

    <div class="col-md-4">
      <br>
       <h1>Welcome,</h1>
       <p> This site was created to practice <a href="https://rubyonrails.org/">Ruby on Rails</a> and various other web development tools. I tried to make it a bit more interesting than using wordpress. Let me know what you think.</p>
    </div>
    
  </div>

	