

  <div class="row">

    <div class="col-md-4">
     
    </div>

    

    <div class="col-md-4">
      <br>
       <h1>Welcome,</h1>
       <p> This site was created to practice <a href="https://rubyonrails.org/">Ruby on Rails</a> and various other web development tools. I tried to make it a bit more interesting than using wordpress. Let me know what you think.</p>
    </div>
    
  </div>



	