<div display="table-row", class="container", align="center">
	<h1>Welcome to my site!</h1>
	<p> My name is Jacob and I made this site to practice full stack development using <a href="https://rubyonrails.org/">Ruby on Rails</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"> HTML5</a> , and <a href="https://getbootstrap.com/">Bootstrap!</a> Normally, this is where people would post a picture of themselves, but I don't have any recent ones so here's a picture of my dogs</p>
</div>
<div class="container", align= "center">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
	 		<img src="https://cdn.discordapp.com/attachments/722911666467110952/786992825878577222/IMG_1405.jpeg" alt="Lucy, Daisy, and Monty" width="250" height="300"> 
	 	</div>
	 	<div class="col-md-3">
	 		<ul style="list-style-type:none">
	 			<li>Lucy</li>
	 			<li>Monty & Daisy</li>
	 		</ul>
	 	</div>	
	 	<div class="col-md-3">	
	 	</div>
	 </div>
</div>


</div>

