@import 'bootstrap/scss/bootstrap';

body {
	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
}

nav { 
	background: rgb(36,0,91);
	background: linear-gradient(0deg, rgba(36,0,91,1) 4%, rgba(0,0,0,1) 70%);
	color: white;
}

nav a,
a:focus,
a:hover {
  color: white;
  padding: 5px;
}

.main-content{
	padding-top: 10px;
}