@import 'bootstrap/scss/bootstrap';

body {
	font-family: 'Cormorant Garamond', serif;
	size: 18px;
}

.main-content { 
	background: rgb(36,0,91);
	background: linear-gradient(0deg, rgba(36,0,91,1) 4%, rgba(0,0,0,1) 50%);
	color: white;
}

nav a,
a:focus,
a:hover {
  color: black;
  font-weight: bold;
}

